/heart_full.png
/coin.png
/heart.png
/heart_empty.png
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/Python+Syntax+Cheat+Sheet+Booklet+v2 (1).pdf
/qodana.yaml
/.idea/vcs.xml
/.idea/workspace.xml
*.png
